Source: mythicos-common
Section: admin
Priority: optional
Maintainer: Studio Hastag <contact@hastag.fr>
Build-Depends: debhelper-compat (= 12), gettext
Standards-Version: 3.9.5

Package: mythicos-common
Architecture: all
Breaks: mint-common
Provides: mint-common (= 2.4.9)
Replaces: mint-common
Conflicts: mint-common
Depends: python3,
         aptkit,
         python3-gi,
         python3-html2text,
         gir1.2-gtk-3.0,
         gir1.2-xapp-1.0,
         gir1.2-xmlb-2.0,
         libgtk3-perl
         ${misc:Depends},
Description: Common scripts and resources for MythicOS
 A collection of scripts and resources used by other MythicOS packages,
 forked from Linux Mint's mint-common.
